.tabs {
    width: 100%;
    background-color: #34495e;
    span,
    .noData {
        font-size: 1rem;
        text-transform: uppercase;
        color: white;
        position: relative;
        margin: 10px 0;
        display: inline-block;
        padding: 12px 15px;
        width: 100px;
        text-align: center;
    }

    @mixin margin-left($value) {
        margin-left: calc($value * 130px);
    }

    @for $i from 0 through 4 {
        #tab-#{$i}.active ~ .underline {
            @include margin-left($i);
        }
    }
    .underline {
        transition: 0.4s all ease-in-out;
        border-bottom: 3px solid white;
        border-radius: 8px;
        width: 130px;
    }
}
