@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap");

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .Questions {
      padding: 0 4rem;
      width: 90%;
      .QuestionsItem {
        padding: 1rem;
        margin: 1rem 0;
        border: 1px solid rgb(41, 40, 40);
        border-radius: 0.5rem;
        background-color: rgba(31, 29, 29, 0.5);
        .header {
          display: flex;
          justify-content: space-between;
        }
        .close {
          display: none;
        }
        .open {
          display: unset;
        }
        img {
          width: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}
